
.vs/CatLedgerWinForm/v16/.suo
.vs/CatLedgerWinForm/v16/.suo
.vs/CatLedgerWinForm/v16/.suo
*.json
*.props
*.targets
CatLedgerWinForm/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
CatLedgerWinForm/obj/Debug/netcoreapp3.1/CatLedgerWinForm.AssemblyInfo.cs
CatLedgerWinForm/obj/Debug/netcoreapp3.1/CatLedgerWinForm.AssemblyInfoInputs.cache
CatLedgerWinForm/obj/Debug/netcoreapp3.1/CatLedgerWinForm.assets.cache
CatLedgerWinForm/obj/Debug/netcoreapp3.1/CatLedgerWinForm.csproj.AssemblyReference.cache
CatLedgerWinForm/obj/Debug/netcoreapp3.1/CatLedgerWinForm.GeneratedMSBuildEditorConfig.editorconfig
CatLedgerWinForm/obj/project.nuget.cache
.vs/CatLedgerWinForm/v16/.suo
.vs/CatLedgerWinForm/v16/.suo
.vs/CatLedgerWinForm/v16/.suo
